@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

.footer .container {
  margin-top: 50px;
}

.footer-links {
  padding-left: 0;
}

.footer-links>li {
  display: inline-block;
}

.footer-links>li+li{
  margin-left:15px;
}

